/*********************************************
 * RESET STYLES
 *********************************************/
html, body,  div,  span,  applet,  object,  iframe, h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre,
a,  abbr,  acronym,  address,  big,  cite,  code, del,  dfn,  em,  img,  ins,  kbd,  q,  s,  samp,
small,  strike,  strong,  sub,  sup,  tt,  var, b,  u,  center, dl,  dt,  dd,  ol,  ul,  li,
fieldset,  form,  label,  legend, table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td,
article,  aside,  canvas,  details,  embed, figure,  figcaption,  footer,  header,  hgroup,
menu,  nav,  output,  ruby,  section,  summary, time,  mark,  audio,  video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,  aside,  details,  figcaption,  figure, footer,  header,  hgroup,  menu,  nav,  section {
	display: block;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 42px;
	font-weight: normal;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: relative;
	line-height: 1;
}
@media screen {
section {
	position: absolute;
	width: 100%;
	height: 100%;
}
section.out {
	visibility: hidden;
}
}
.slides {
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}


section {
	line-height: 1.3;
	font-weight: inherit;
}
div.footer {
	visibility: hidden;
}
section footer {
	position: absolute;
	bottom: 0;
	padding: 1rem;
	text-align: center;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}
.slides section .notes {
	visibility: hidden;
}

.nav_buttons {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 80px;
	color: #245480;
	cursor: default;
	padding-right: 5px;
	padding-bottom: 5px;
}
.grow {
	float:left;
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.4);
}
/*********************************************
 * HEADERS
 *********************************************/
@media screen {
.first div {
	position: fixed;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);
	padding-top: 20px;
	padding-bottom: 20px;
}
.title .num {
	position: absolute;
	top: 0;
	right: 0;
}
}
.title {
	margin: 0em 0 1em 0;
	height: 3.5em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: normal;
	word-wrap: break-word;
}

h1 {	font-size: 1.5em; }
h2 {	font-size: 1.2em; }
h3 {	font-size: 1.1em; }
h4 {	font-size: 1em; }


/*********************************************
 * OTHER
 *********************************************/
.panel {
	margin:0 0;
	padding:3px 3px;
	float:left;
	width:50%;
	height:100%;
	box-sizing: border-box;
}
.panel3 {
	margin:0 0;
	padding:3px 3px;
	float:left;
	width:33%;
	height:100%;
	box-sizing: border-box;
}
.full {
	margin: 0 0;
	padding: 0 0;
	width:100%;
	height:100%;
}
.row {
	margin:0 0;
	padding:3px 3px;
	width:100%;
	height:calc(50% - 2em - 20px);
	box-sizing: border-box;
}

p {
	margin: 20px 0;
	line-height: 1.3;
}

ol, dl, ul {
	display: inline-block;
	text-align: left;
	margin: 0 0 0 1em;
}

ol {	list-style-type: decimal; }
ul {	list-style-type: disc; }
ul ul {	list-style-type: square; }
ul ul ul {
	list-style-type: circle;
}
ul ul, ul ol, ol ol, ol ul {
	display: block;
	margin-left: 40px;
	font-size:0.8em;
}

dt {	font-weight: bold; }
dd {	margin-left: 40px; }

blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 20px auto;
	padding: 5px;
	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

blockquote p:first-child, blockquote p:last-child {
	display: inline-block;
}

pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 20px auto;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

code {
	font-family: monospace;
	text-transform: none;
}

pre code {
	display: block;
	padding: 5px;
	word-wrap: normal;
}

table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

table th {
	font-weight: bold;
}

table th, table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}

table th[align="center"], table td[align="center"] {
	text-align: center;
}

table th[align="right"], table td[align="right"] {
	text-align: right;
}

table tbody tr:last-child th, table tbody tr:last-child td {
	border-bottom: none;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}
small * {
	vertical-align: top;
}

a {
	color: #42affa;
	text-decoration: none;
	-webkit-transition: color .15s ease;
	-moz-transition: color .15s ease;
	transition: color .15s ease;
}
a:hover {
	color: #8dcffc;
	text-shadow: none;
	border: none;
}

/*********************************************
 * GFX
 *********************************************/
.lines .line { fill: none; stroke-width: 3px; }
.axis .domain { fill: none; stroke-width: 0px; }
.dots circle { fill: none; stroke-width: 3px; }
.zoom { cursor: move; fill: none; pointer-events: all; }

/*********************************************
 * PRINTING
 *********************************************/
@media print {
	@page {	
		size: landscape;
		/*margin: 15mm 15mm 15mm 15mm;*/
	}
	html {
		background: #fff;
		width: auto;
		height: auto;
		overflow: visible;
	}
	body {
		background: #fff;
		font-size: 20pt;
		width: auto;
		height: auto;
		border: 0;
		margin: 0 5%;
		padding: 0;
		overflow: visible;
		float: none !important;
	}

	ul, ol, div, p {
		visibility: visible;
		position: static;
		width: auto;
		height: auto;
		display: block;
		overflow: visible;
		margin: 0;
	}
	.slides {
		position: static !important;
		width: 100% !important;
		height: 100% !important;

		left: 0 !important;
		top: 0 !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		padding: 0 !important;
		zoom: 1 !important;

		overflow: visible !important;
		display: block !important;

		text-align: left;
	}
	.slides section {
		visibility: visible;
		position: static !important;
		width: 100% !important;
		height: 100% !important;
		display: block !important;
		overflow: visible !important;

		left: 0 !important;
		top: 0 !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		padding: 60px 20px !important;
		z-index: auto !important;

		opacity: 1 !important;

		page-break-before: always !important;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}
	section footer {
		position: fixed;
		bottom: 0;
		color: #888;
		text-align: center;
	}
	.first div {
		position: relative;
		top: 10em;
		width: 100%;
		transform: translate(0, -50%);
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
	.title { width:100%; }
	.title div {
		float:left;
	}
	.title div * {
		float: none;
	}
	.title .num {
		float:right;
		top: 0;
		right: 0;
		text-align:right;
	}
	.title .num::after {
		content: "";
		clear: both;
	}
	.slides section .notes {
		visibility: hidden;
		color:transparent;
	}
	.nav_buttons {
		visibility: hidden;
	}
	section .content img {
		object-fit: scale-down;
		max-height: 10cm;
	}
}

